<h1 id="tableLabel">Upload weather forecast data</h1>

<p>The upload will check the selected 'csv' scheme.</p>
<p>The uploaded file requires a header.</p>

<!--<p *ngIf="!forecasts"><em>Loading...</em></p>-->
<input type="file" class="file-input" accept=".csv"
       (change)="onFileSelected($event)" #fileUpload>

<button mat-raised-button color="primary" (click)="fileUpload.click()" >Upload CSV</button>

<app-virtual-table *ngIf="forecasts" [itemSize]="itemSize" [items]="forecasts"></app-virtual-table>

<h2 class="error-message" *ngIf="errorMessage">{{errorMessage}}</h2>
