<cdk-virtual-scroll-viewport [itemSize]="itemSize" class="viewport">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tr *cdkVirtualFor="let item of items">
      <td>{{ item.date }}</td>
      <td>{{ item.temperatureC }}</td>
      <td>{{ item.temperatureF }}</td>
      <td>{{ item.summary }}</td>
    </tr>
  </table>
</cdk-virtual-scroll-viewport>
