<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the DB.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<app-virtual-table *ngIf="forecasts" [itemSize]="itemSize" [items]="forecasts"></app-virtual-table>
